window {
    background: #627f86;
    background: #3b9ab0;
    box-shadow: 0 0 25px rgba(0,0,0,.5)
}

tab {
    background: #777462;
    background: #3b9ab0;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin: 2px;
    box-shadow: 0 0 1px black
}

box {
    background: #627f86;
    background: #3b9ab0;
}

grid {
    background: #627f86;
    background: #3b9ab0;
}

list {
    background-color: #627f86;
    background: #3b9ab0;
    box-shadow: 0 0 25px rgba(0,0,0,.5)
}

button {
    color: black;/* changes color of vol+/- buttons*/
    background: #777462;
    background: #97d4de;
    border-radius: 4px; /* higher value gives more rounded buttons*/
    box-shadow: 0 0 0px black /*rgba(0,0,0,.5)*/
}


fuck {
    color: black;
}



entry {
    background: #777462;
    background: #97d4de;
    border-radius: 4px;
    box-shadow: 0 0 0px black;
}

